/*Author Luis Ochoa*/
/*This page controls the css for the login as well as the signup and additional info pages as they are similar*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    /* light green */
    background-color: #8bc34a; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
     /* darker green */
    background-color: #689f38;
}
/*additional info for signup pages*/
.signup-link {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.signup-link:hover {
    text-decoration: underline;
}

/*controls the css for the error flash when wrong username or password is entered*/
.flash-container {
    position: absolute;
    top: 70%; /* Place it just after the login-container */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    width: 400px;
    text-align: center;
    border-radius: 3px;
}
