/* styles.css */
/* Menu CSS */
/* By Leo Garcia */
.menu {
    width: 100%;
    background-color: none;
}

.menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    text-decoration: none;
    color: #545454;
    font-size: 25px;
    width: 240px;
    height: auto;
    line-height: 60px;
    
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: Arial;
}

.menu ul li a {
    color: #545454;
    font-size: 25px;
    text-decoration: none;

}

.menu ul li:hover {
    background-color: #66ad5a;
}

i{
    color: #545454;
    font-size: 25px;
    font-weight: bold;
    padding-right: 5px;
}

#sub-header ul li:hover,
li.active  { 
    background-color: #66ad5a;
}


/*CSS for the Button*/
button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
}
  
button:hover {
    background-color: #04AA6D;
    color: white;
}

.container {
    height: 50px;
    position: relative;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  

/* New styles for the account container and box */

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*how far down the box will pop up*/
    height: 60vh;
}

.account-box {
    text-align: center;
    background-color: #dddddd;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: fit-content;
}

.account-info {
    font-family: Arial, sans-serif;
}

.account-info label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.account-info p {
    margin: 0;
}