<!--Author: Luis Ochoa-->
<!--This page controls the HTML for addtional info page.  This page controls getting addtional information from the user.
Displays the boxes for height, fname, etc.  Returns the info back to the main page to complete setup of the account.
The info is passed to the main.py. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/login_style.css') }}" rel="stylesheet">

    <title>Additional Information</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="login-container">
        <div class="login-title">
            Sign Up to Eat Well Pal
        </div>

<!--Where the user can begin entering info-->
        <form class= "login-form" method="post" action="{{ url_for('complete_signup') }}">
            <!-- Additional form fields for name, age, height, etc. -->
            <label for="fname">First Name:</label>
            <input type="text" name="fname" required><br>

            <label for="lname">Last Name:</label>
            <input type="text" name="lname" required><br>

            <label for="body_weight">Body Weight in Pounds:</label>
            <input type="number" name="body_weight" required><br>

            <label for="height">Height(ft, in):</label>
            <input type="text" name="height" required><br>

            <label for="target_weight">Target Weight:</label>
            <input type="text" name="target_weight" required><br>

            <label for="allergies">Allergies:</label>
            <input type="text" name="allergies" required><br>

            <label for="gender">Gender(Male, Female, or other):</label>
            <input type="text" name="gender" required><br>

            <!-- Pass the username and email as hidden fields -->
            <input type="hidden" name="username" value="{{ username }}">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="password" value="{{ password }}">

            <input type="submit" value="Complete Signup">
        </form>
    </div>
</body>
</html>
