<!--Luis Ochoa-->
<!--This page controls the HTML for accounts page.  Gets a lot of data from the ID logged in.
The info is passed from the main.py. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>

    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <ul>
            <li><i class="fa-solid fa-house-chimney"></i><a href="{{url_for('main')}}">Home</a></li>
            <li><i class="fa-solid fa-utensils"></i><a href="{{url_for('meals')}}">Meals</a></li>
            <li><i class="fa-solid fa-bars-progress"></i><a href="{{url_for('progress')}}">Progress</a></li>
            <li><i class="fa-solid fa-heart"></i><a href="{{url_for('favorites')}}">Favorites</a></li>
            <li class="active"><i class="fa-solid fa-gear"></i><a href="{{url_for('account')}}">Account</a></li>
        </ul>
    </div>

    <div class="account-container">
        <div class="account-box">
            <p for="firstName">First Name: {{log_user[0]}}</p> <br>
    
            <p for="lastName">Last Name: {{log_user[1]}}</p> <br>
    
            <p for="weight">Weight: {{log_user[2]}}lbs</p> <br>
    
            <p for="heigt">Height: {{log_user[3]}}</p> <br>

            <p for ="goal">Your target Weight: {{log_user[4]}}</p> <br>

            <p for ="allergies">Allergies: {{log_user[5]}}</p> <br>

        </div>
    </div>
    <div class="container">
        <div class="center">
            <a href="{{url_for('main')}}"><button type="submit">Edit Account</button></a>
        </div>
    </div>


</body>
</html>
