<!--Luis Ochoa-->
<!--This page controls the HTML for accounts page.  Gets a lot of data from the ID logged in.
The info is passed from the main.py. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ url_for('static', filename='styles/accounts.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <ul>
            <li><i class="fa-solid fa-house-chimney"></i><a href="{{url_for('main')}}">Home</a></li>
            <li><i class="fa-solid fa-utensils"></i><a href="{{url_for('meals')}}">Meals</a></li>
            <li><i class="fa-solid fa-bars-progress"></i><a href="{{url_for('progress')}}">Progress</a></li>
            <li><i class="fa-solid fa-heart"></i><a href="{{url_for('favorites')}}">Favorites</a></li>
            <li class="active"><i class="fa-solid fa-gear"></i><a href="{{url_for('account')}}">Account</a></li>
        </ul>
    </div>

    
    <div class="account-container">
        <div class="accountEdit-box">
            <form  class="account-form accout-info" method="post" action="{{ url_for('edit_account') }}">
                <!-- Additional form fields for name, age, height, etc. -->
                <label for="fname">First Name:</label>
                <input type="text" name="fname" required><br>
    
                <label for="lname">Last Name:</label>
                <input type="text" name="lname" required><br>
    
                <label for="body_weight">Body Weight in Pounds:</label>
                <input type="number" name="body_weight" required><br>
    
                <label for="height">Height(ft, in):</label>
                <input type="text" name="height" required><br>
    
                <label for="target_weight">Target Weight:</label>
                <input type="text" name="target_weight" required><br>
    
                <label for="allergies">Allergies:</label>
                <input type="text" name="allergies" required><br>
    
                <label for="gender">Gender(Male, Female, or other):</label>
                <input type="text" name="gender" required><br>
    
                <!-- Pass the username and email as hidden fields -->
                <!--<input type="hidden" name="username" value="{{ username }}">-->
    
                <input type="submit" value="Complete Edit">
            </form>
    
        </div>
    </div>


</body>
</html>
