<!--Author: Luis Ochoa-->
<!--This page controls the html for the login page-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/login_style.css') }}" rel="stylesheet">

    <title>Login</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="login-container">
        <div class="login-title">
            Welcome to Eat Well Pal
        </div>
    
        <form class= "login-form" method="post" action="{{ url_for('login') }}">
            
            <!--This is where the boxes for the user shows.  Info is returned to main.py-->

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
            </div>
    
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password"  name="password" required>
            </div>
    
            <button type="submit" class="login-button">Login</button>
        </form>
        <a href="{{url_for('signup')}}" class="signup-link">Don't have an Account? Sign Up!</a>
    </div>

    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                   <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
     </div>

</body>
</html>
