<!--Uriel Alvarez-->
<!--This page controls the HTML for home page.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <style>
        .slide-container {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
        }

        .slide {
            flex: 0 0 auto;
            width: 200px; 
            margin-right: 30px; 
            scroll-snap-align: start;
        }

        .slide img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="active"><i class="fa-solid fa-house-chimney"></i><a href="{{url_for('main')}}">Home</a></li>
            <li><i class="fa-solid fa-utensils"></i><a href="{{url_for('meals')}}">Meals</a></li>
            <li><i class="fa-solid fa-bars-progress"></i><a href="{{url_for('progress')}}">Progress</a></li>
            <li><i class="fa-solid fa-heart"></i><a href="{{url_for('favorites')}}">Favorites</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="{{url_for('account')}}">Account</a></li>
        </ul>
    </div>
    <h1>
        <b>
            Welcome, {{username}}!
        </b>
    </h1>

    <h2>Top Picks for You:</h2>
    <div class="slide-container">
        {% for recommendation in recommendations_user %}
            <div class="slide">
                <a href="{{ url_for('meals_data', recommendation_id=recommendation) }}">
                    <img src="{{ url_for('static', filename='images/meal.jpg') }}" alt="image">
                    <p>{{ recommendation }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <h2>Trending Now:</h2>
    <div class="slide-container">
        {% for recommendation in recommendations_group %}
            <div class="slide">
                <a href="{{ url_for('meals_data', recommendation_id=recommendation) }}">
                    <img src="{{ url_for('static', filename='images/meal.jpg') }}" alt="image">
                    <p>{{ recommendation }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <h2>Recently Added:</h2>
    {% if new_meals %}
        <div class="slide-container">
            {% for recipe_name in new_meals %}
                <div class="slide">
                    <a href="{{ url_for('meals_data', recommendation_id=recipe_name) }}">
                        <img src="{{ url_for('static', filename='images/meal.jpg') }}" alt="image">
                        <p>{{ recipe_name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No new meals available.</p>
    {% endif %}
</body>
</html>