<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <ul>
            <li><i class="fa-solid fa-house-chimney"></i><a href="{{url_for('main')}}">Home</a></li>
            <li class="active"><i class="fa-solid fa-utensils"></i><a href="{{url_for('meals')}}">Meals</a></li>
            <li><i class="fa-solid fa-bars-progress"></i><a href="{{url_for('progress')}}">Progress</a></li>
            <li><i class="fa-solid fa-heart"></i><a href="{{url_for('favorites')}}">Favorites</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="{{url_for('account')}}">Account</a></li>
        </ul>
    </div>
        <h1>Recipe Search</h1>
    
        <form id="searchForm" method="POST" action="/meals">
            <label for="searchQuery">Enter Recipe Name:</label>
            <input type="text" id="searchQuery" name="searchQuery" required>
            <button type="submit" onclick="search()">Search</button>
        </form>

        <div id="resultsContainer"></div>

</body>
<script>
$(document).ready(function () {
    // Intercept form submission
    $('#searchForm').submit(function (e) {
        e.preventDefault(); 
        search(); 
    });

function search() {
    console.log('Button clicked!');
    var searchQuery = $('#searchQuery').val();

    $.ajax({
        type: 'POST',
        url: '/meals' 
        data: {searchQuery: searchQuery}

        success: function(data) {
            console.log('Data received:', data);
            var resultsHtml = '<ul>';
                data.forEach(function (item) {
                    resultsHtml += '<li>' + item.RecipeName + '</li>';
                });
                resultsHtml += '</ul>';

                $('#resultsContainer').html(resultsHtml);
            },

        error: function(error) {
            console.error('There was a problem with the fetch operation:', error);
            // Handle error if needed
        }
    });
}
});
</script>
</html>