<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <ul>
            <li><i class="fa-solid fa-house-chimney"></i><a href="{{url_for('main')}}">Home</a></li>
            <li class="active"><i class="fa-solid fa-utensils"></i><a href="{{url_for('meals')}}">Meals</a></li>
            <li><i class="fa-solid fa-bars-progress"></i><a href="{{url_for('progress')}}">Progress</a></li>
            <li><i class="fa-solid fa-heart"></i><a href="{{url_for('favorites')}}">Favorites</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="{{url_for('account')}}">Account</a></li>
        </ul>
    </div>

    <p>

        <h1>{{ recipe_Name[0] }}</h1>

        <p>{{ recipe_Description[0] }}</p>
        
        <h2>Ingredients:</h2>
        <ul>
            {% for ingredient in recipe_Ingredients[0].split('\n') %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        
        <h2>Instructions:</h2>
        <p>{{ recipe_Instructions[0] }}</p>
        
        <h2>Nutritional Information:</h2>
        <ul>
            <li>Calories: {{ recipe_Calories[0] }}</li>
            <li>Prep Time: {{ recipe_PrepTime[0] }} minutes</li>
            <li>Cook Time: {{ recipe_CookTime[0] }} minutes</li>
            <li>Serving Size: {{ recipe_ServingSize[0] }}</li>
        </ul>
        
    </p>

    <button type="button" onclick="addToDatabase()">Add to Database</button>
    <button type="button" onclick="addToFavorites()">Add to Favorites</button>


    <script>
        $(document).ready(function() {
            $("#addToDatabaseBtn").click(function() {
                addToDatabase();
            });
        });

        $(document).ready(function() {
            $("#addToFavoritesBtn").click(function() {
                addToFavorites();
            });
        });
        function addToDatabase() {
            console.log('Button clicked!');
            var recipeName = "{{ recipe_Name[0] }}";
            var calories = "{{ recipe_Calories[0] }}";


            $.ajax({
                type: 'POST',
                url: '/add_to_intake/' + encodeURIComponent(recipeName),
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({
                    recipeName: recipeName,
                    calories: calories,
                }),
                success: function(data) {
                    console.log('Data received:', data);
                    // Handle success if needed
                },
                error: function(error) {
                    console.error('There was a problem with the fetch operation:', error);
                    // Handle error if needed
                }
            });
        }

        function addToFavorites() {
            console.log('Button clicked!');
            var recipeName = "{{ recipe_Name[0] }}";


            $.ajax({
                type: 'POST',
                url: '/add_to_favorites/' + encodeURIComponent(recipeName),
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({
                    recipeName: recipeName,
                }),
                success: function(data) {
                    console.log('Data received:', data);
                    // Handle success if needed
                },
                error: function(error) {
                    console.error('There was a problem with the fetch operation:', error);
                    // Handle error if needed
                }
            });
        }
    </script>