<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <ul>
            <li><i class="fa-solid fa-house-chimney"></i><a href="{{url_for('main')}}">Home</a></li>
            <li><i class="fa-solid fa-utensils"></i><a href="{{url_for('meals')}}">Meals</a></li>
            <li class="active"><i class="fa-solid fa-bars-progress"></i><a href="{{url_for('progress')}}">Progress</a></li>
            <li><i class="fa-solid fa-heart"></i><a href="{{url_for('favorites')}}">Favorites</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="{{url_for('account')}}">Account</a></li>
        </ul>
    </div>
    
    <div id="caloricProgress">{{ graph_html | safe }}</div>

    <h1>Add Ingredient</h1>
    <form action="{{ url_for('process_add_ingredient') }}" method="post">
        <label for="ingredient_name">Ingredient Name:</label>
        <input type="text" name="ingredient_name" required>

        <label for="quantity">Quantity (in grams):</label>
        <input type="number" name="quantity" required>

        <button type="submit">Add Ingredient</button>
    </form>

    <h2>Food Eaten</h2>
    <ul>
        {% for result in intake %}
            <li>
                    {{ result }}
            </li>
        {% endfor %}
    </ul>



</body>
</html>