<!--Author: Luis Ochoa-->
<!--This page controls the HTML for signup  page.  This page controls getting basic info like email and password and returning it to main.py.
Returns the info back to the main page and if valid will send them to the next page to finish setting up the account.
The info is passed to the main.py. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/login_style.css') }}" rel="stylesheet">

    <title>Signup</title>
</head>
<body>
    <div class="login-container">
        <div class="login-title">
            Sign Up to Eat Well Pal
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>

<!--This is where the boxes are made for the user info-->
        <form class= "login-form" method="post" action="{{ url_for('signup') }}">
            <label for="username">Username:</label>
            <input type="text" name="username" required><br>

            <label for="email">Email:</label>
            <input type="email" name="email" required><br>

            <label for="password">Password:</label>
            <input type="password" name="password" required><br>

            <input type="submit" value="Next">
        </form>
    </div>
</body>
</html>
